$main-color:#c9ced6;
$font-color:#000;
$error-color:#ff0000;
$placeholder-color:#5f5f5f;
$focus-color:#be1621;
$button-color:#ff9000;
$font-family:'OpenSans', sans-serif;
$wrapper:100%;
$container:100%;
$wrapper-max-width:1090px;
$container-max-width:1170px;
